.scrollover {
  position: relative;
  overflow-x: hidden;
}

.scrollcontainer {
  overflow-y: auto;
  scroll-snap-type: mandatory;
}

.scrollcontainer::-webkit-scrollbar {
  display: none;
}

.scrollcontainer div:not([data-dir]) {
  cursor: pointer;
  scroll-snap-coordinate: 0 0;
}

.topbutton {
  position: absolute;
  height: 40px;
  width: 100%;
  top: 0;
  cursor: n-resize;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%);
}

.bottombutton {
  position: absolute;
  height: 40px;
  width: 100%;
  bottom: 0;
  cursor: s-resize;
  clip-path: polygon(100% 0%, 100% 100%, 25% 100%);
}