.scrollover {
  background: silver;
  position: relative;
}

.scrollcontainer {
  overflow-y: auto;
  max-height: 150px;
}

.top {
  position: absolute;
  height: 20px;
  width: 100%;
  background: rgba(250,80,30,.5);
  top: 0;
  right: 0;
  cursor: pointer;
}

.bottom {
  position: absolute;
  height: 20px;
  width: 100%;
  background: rgba(250,30,80,.5);
  bottom: 0;
  right: 0;
  cursor: pointer;
}