.timeline {
  height: 130px;
  width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.frame {
  height: 130px;
  width: 100px;
  overflow-x: hidden;
}

.container {
  max-height: 4rem;
  overflow-y: scroll;
}
div[data-idx] {
  cursor: pointer;
}

@supports ( (scroll-snap-type: mandatory) ) {
  .container {
    max-height: 4rem;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    background: lightcyan;
  }
}


.dayitem {
  line-height: 2rem;
  scroll-snap-coordinate: 0 0;
}