.accordion {
   height: 300px;
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-between;
}
.container {
  overflow: auto;
}

@supports (-moz-appearance:none) {
  div { color:red; } /* red text in FF */
}