.accordion {
   height: 300px;
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-between;
}
.container {
  overflow: auto;
}

@-moz-document url-prefix() { /* FF win */
  .container {
    width: 100px;
  }
}

@supports (-moz-osx-font-smoothing:auto) { /* FF MAC */
  .container {
    width: 85px;
  }
 }